@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Visiting Hot Springs in Japan!</h1>
    <br/>
    <h2>Shima Onsen in Gunma</h2>
    <img src="shima.webp" alt="Shima Onsen" width="600">
    <p>Shima Onsen is a historic hot spring resort known for its high-quality waters that are said to cure "40,000 illnesses."
        The name "Shima" refers to the term "forty thousand," symbolizing its health benefits.
        Although it is located in a relatively rural area, it is surrounded by nature, with a river flowing nearby, as well as lakes and waterfalls, creating a peaceful environment where it feels cool even in summer. 
        Additionally, one of the hotels called "Sekizenkan" is believed to be one of the inspirations for the setting of Studio Ghibli’s Spirited Away, making it a popular spot for visitors.
        The large bathhouse of Sekizenkan is influenced by Western architecture, offering a slightly different atmosphere from the traditional Japanese style reflected in its historic exterior.</p>
    <br/>
    <h2>Dougo Onsen in Ehime</h2>
    <img src="dougo.jpg" alt="Dougo Onsen" width="600">
    <p>Dogo Onsen is one of the oldest hot springs in Japan, with a history said to span approximately 3,000 years. 
        Its most famous place is the "Dogo Onsen Honkan," a beautiful wooden bathhouse built during the Meiji era. 
        It is known for its elegant architecture and has appeared in Natsume Soseki’s novel Botchan, as well as possessing a private bath once used for the Imperial Family. 
        In the surrounding onsen town, visitors can enjoy the unique experience of "mikan juice from a faucet," where they can taste a variety of locally produced orange juices from Ehime. 
        Other attractions include foot baths, exploring the retro shopping streets with local street food, and staying at traditional ryokan inns, making it a destination full of charm and cultural experiences.</p>
    <br/>
    <h4>Do you want to calculate how much your charge for tutoring service of my hobby is going to be?</h4>
    <h4>If so, click the button below!</h4>
    <a class="btn btn-secondary" href="@Url.Action("Calculator", "Home")">Go to calculator</a>
</div>